

table:hover {
    background-color: brown;
}

h1.webpage-title {
    color: navy;
}

#page {
    color: aqua;
}

a {
    color: pink;
}

ul.menu{
    list-style-type: none;
    margin: 0;
    padding:0
}

@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

div {
    background-color: red;

}
